
config TOUCHSCREEN_FT5416
	tristate "FT5416 touch controller"
	depends on I2C
	help
	  Say Y here if you have a  FT5416 I2C touch controller
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called FT5416.


